.header-section {
    width: calc(100vw - 16rem);
    margin-left: 16rem;
    padding-top: 4rem !important;
    background-color: white;
}

.progress-tab-section {
    width: calc(100vw - 16rem);
    margin-left: 16rem;

    &-card {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 20px;

        &-progress-bar {
            width: 78px;
            height: 73px;
        }
    }
}

.task-section {
    width: calc(100vw - 16rem);
    margin-left: 16rem;
    background-color: white;

    &-table-div {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
}

.calendar-section {
    width: calc(100vw - 16rem);
    margin-left: 16rem;
    background-color: white;
}

.task-popup {
    left: 50% !important;
    bottom: 0% !important;
    width: 70% !important;
}

@media screen and (max-width: 900px) {
    .mobile-tab-width {
        width: calc(100vw - 12rem);
        margin-left: 12rem;
    }

    .task-popup {
        left: 30% !important;
        bottom: -5% !important;
    }
}

@media screen and (max-width: 768px) {
    .mobile-tab-width {
        width: calc(100vw - 20%);
        margin-left: 17.5%;
    }

    .task-popup {
        width: 100% !important;
        left: 40% !important;
        bottom: 0% !important;
    }

    .header-section {
        padding-top: 2rem !important;
    }
}