@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Nunito", sans-serif;
	margin-bottom: 0 !important;
}
